<!-- Category -->
<div class="myPage__ToDoList__Category">
    <ul class="myPage__ToDoList__Category__detail">
        <li class="category_list"><a href="dreamboard_list" class="list_a">마이드림보드</a></li>
        <li class="category_list"><a href="mypage_todolist" class="list_a2">TODOLIST</a></li>
        <li class="category_list">내가쓴게시글</li>
        <li class="category_list"><a href="mypage_manage" class="list_a">계정관리</a></li>
        <li class="category_list"><a href="user_out" class="list_a3">회원탈퇴</a></li>
    </ul>
</div>
<!-- Category finish -->