{% extends 'layout.html'%}

{% block content%}
<section>
    <div class="tool_header">
        <div class="tool_header_left">
            <div>
                <div>새로 만들기</div>
                <div>설정</div>
                <div>실행 취소</div>
                <div>다시 실행</div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="tool_bar">
        <button class="back">메모지</button>
        <button class="back">이미지</button>
        <button class="back">스티커</button>
        <button class="back">배경</button>
    </div>
</section>

<div>
    보드 들어갈곳
</div>


<script src="assets/js/dreamboards.js"></script> <!-- 경로 : public/assets/js/dreamboard.js -->

{% endblock %}