{% extends 'layout.html'%}

{% block content%}
<div class="todolist_form">
    <div class="myPage__ToDoList">
        {% include 'category.html'%}
        <div class="todolist_board_wrap">
            <div class="board_title">
                <strong>마이 드림보드</strong>
            </div>
            <div class="board_list_wrap">
                <div class="board_list" id="main">
                    <div id="dreamboard_container">
                        {% for i in dreamBoardList %}
                        <div>{{i.vision_img}}</div>
                        {% endfor%}
                    </div>
                </div>
                <div class="board_page">
                    <a href="#" class="bt first"><< </a>
                    <a href="#" class="bt prev"><</a>
                    <a href="#" class="num on">1</a>
                    <a href="#" class="bt next">></a>
                    <a href="#" class="bt last">>></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}