
<footer class="footer">
    <hr class="footer_line">
    <div class="footer_container">

        <div class="footer_description">
            <p class="footer_info">팀 : 침착한 히포</p>
            <p class="team_info"><span>총괄 : 김재현</span></p>
            <p class="team_info"><span>프론트엔드 : 서혜림,김유원</span></p>
            <p class="team_info"><span>백엔드 : 이범동,박민수</span></p>
            
        </div>
        <div class="footer_description">
            <p class="footer_num">NUM:010-4751-5719</p>
            <p class="footer_service">서비스에 대한 상담은 <br>대표번호로 연락 바랍니다.</p>
        </div>
        <div class="footer_description">
            <p class="footer_notice">자기계발경고문구</p>
            <p class="footer_content"><span>과도한 자기개발은 너무 잘나가집니다.</span></p>
            <p class="footer_content"><span>침착한 히포 팀은 자기계발을 권장합니다.</span></p>
        </div>
    </div>
    <hr class="footer_line">
</footer>