<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🦛DREAM HACK</title>
    <link href="./images/hippo.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://webfontworld.github.io/cafe24/Cafe24Ohsquare.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        @import url('assets/css/community.css');
        @import url('assets/css/main.css');
        @import url('assets/css/dreamboard.css');
        @import url('assets/css/mypage_manage.css');
        @import url('assets/css/mypage_todolist.css');
        @import url('assets/css/post_style.css');
        @import url('assets/css/mypage_todolist.css');
        @import url('assets/css/join.css');
        @import url('assets/css/footer.css');
    </style>
</head>

<body>
    <div class="container_layout">
        <div class="header">
            <h1><a href="/">DREAM HACK</a></h1>
            <div class="nav">
                <ul>
                    {% if obj != undefined %}
                    <li><a href="/">홈</a></li> <!-- http://localhost:3333/ 에 링크 이동 -->
                    <li><a href="/mypage_manage">마이페이지</a></li> <!-- http://localhost:3333/mypage_manage 에 링크 이동 -->
                    <li><a href="/dreamboard">드림보드</a></li> <!-- http://localhost:3333/dreamboard 에 링크 이동 -->
                    <li><a href="/community">커뮤니티</a></li> <!-- http://localhost:3333/community 에 링크 이동 -->
                    <li><a href="/user/logout">로그아웃</a></li> <!-- http://localhost:3333/community/login 에 링크 이동 -->                 
                    {% else %}
                    
                    
                    <li><a href="/login">로그인</a></li> <!-- http://localhost:3333/community/login 에 링크 이동 -->
                    <li><a href="/join">회원가입</a></li> <!-- http://localhost:3333/community/join 에 링크 이동 -->
                    {% endif %}
                </ul>
                
            </div>
        </div>
        
        <!-- 페이지 별로 바뀌어야할 부분 -->
        {% block content %}
        {% endblock %}
    </div>

    {% include 'footer.html' %}
</body>

</html>