{% extends 'layin.html'%}

{% block content%}

<!-- <div class="wrapper">
    <div class="focus">
        DREAMHACK
    </div>
    <div class="mask">
        <div class="text">DREAMHACK</div>
    </div>
</div> -->

<div class="hero">
    <div class="wrapper">
        <div class="focus">
            <h2>DREAMHACK</h2>
        </div>
        <div class="mask">
            <div class="text">DREAMHACK</div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>Realize your vivid dream</p>
    <button>GO TO DREAM BOARD</button>
</div>

    {% endblock%}