{% extends 'layout.html'%}

{% block content%}
<div class="todolist_form">
    <div class="myPage__ToDoList">
        {% include 'category.html'%}
        <div class="todolist_board_wrap">
            <form action="/user/login" method="post">
                <div id="manage__box">
                    <h2 class="manage_h1">계정 관리</h2>
                    <div class="int__area">
                        <input type="text" name="id" id="id" autocomplete="off" placeholder="유저 닉네임 변경">
                    </div>
                    <div class="int__area">
                        <input type="password" name="pw" id="pw" autocomplete="off"placeholder="비밀번호 변경" >
                    </div>
                    <div class="int__area">
                        <input type="password" name="pw" id="pw" autocomplete="off"placeholder="비밀번호 확인" >
                    </div>
                    <div class="btn__area">
                        <input type="submit" class="submit_button" id="btn" value="수정">
                        <input type="submit" class="submit_button"  id="btn" value="취소">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock%}