{% extends 'layout.html'%}

{% block content%}
<div class="todolist_form">
    <div class="myPage__ToDoList">
        {% include 'category.html'%}
        <div class="todolist_board_wrap">
            <div class="board_title">
                <strong>ToDoList</strong>
            </div>
            <div class="board_list_wrap">
                <div class="board_list" id="main">
                    <div class="top">
                        <div class="num"><p>번호</p></div>
                        <div class="title"><p>제목</p></div>
                        <div class="count_title"><p>달성도</p></div>
                    </div>
                    
                    {% for i in goals %}
                    <div>
                        <div class="num">
                            <p>{{loop.index}}</p>
                        </div>
                        <div class="title">
                            <a href="/todolist_content?&num={{i.goal_seq}}&index={{loop.index}}">{{i.goal_title}}</a>
                        </div>
                        <div class="progress_bar">
                            <div id="progress_real_div"><progress id="progress_real" value="{{i.complete_percent}}" max="100"></progress>&nbsp;</div> 
                            <div id="progress_percentage">{{i.complete_percent.toFixed(1)}}%</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="board_page">
                    {% if  term !== 0 %}
                    <a href="mypage_todolist?page=1" class="bt first"><<</a>
                    <a href="mypage_todolist?page={{startPageNum-1}}" class="bt prev"><</a>
                    {% endif %}
                    {% for i in range(startPageNum, endPageNum) %}
                    <a href="mypage_todolist?page={{i}}" class="num on">{{i}}</a>
                    {% endfor %}
                    {% if endPageNum-1 !== totalPage%}
                    <a href="mypage_todolist?page={{endPageNum+1}}" class="bt next">></a>
                    <a href="mypage_todolist?page={{totalPage}}" class="bt last">>></a>
                    {% endif %}
                </div>
                <div class="bt_wrap">
                    <button onclick="location.href='todolist_write'" type="submit" class="submit_button">등록</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}