{% extends 'layout.html'%}

{% block content%}



    <div class="board_title">
        <strong>ToDoList</strong>
    </div>
    <div class="board_write_wrap">
        <form action="/todo/add" method="post" id="todo_form">
            <div class="board_write">

                <div class="routine_container">

                    <p id="todo_h1">할 일</p>
                    <div class="title">
                        <dl>
                            <dd><input type="text" id="todo_title" name="title" placeholder="제목 입력"></dd>
                        </dl>
                    </div>
                    <div class="input-area">
                        <!-- 입력값을 저장 id는 task-input으로 설정 -->
                        <button class="btn btn-primary" id="add-button" type="button">추가</button>
                        <!-- 추가 버튼 class는 btn btn-primary 설정, id는 add- button으로 설정 -->
                    </div>
                    <div class="task-area">
                        <!-- div의 class는 task-area로 설정, 의미없음 -->
                        <div id="task-board">
                        </div>
                    </div>

                    <div class="todo_date">
                        시작일<input type="date" name = "start_date" class="date_start">
                        마감일<input type="date" name = "end_date" class="date_start">
                    </div>
                    <div class="bt_wrap">
                        <input class="submit" type="submit">
                        <!-- <a href="mypage_todolist" class="on" type="submit">등록</a> -->
                        <button onclick="location.href = 'mypage_todolist'" class="submit" type="button">취소</button>
                        <!-- <a href="mypage_todolist">취소</a> -->
                    </div>
                </div>
            </div>

        </form>
    </div>

<script src="/assets/js/todolist.js"></script>

{% endblock%}