{% extends 'layout.html'%}

{% block content%}

<form id="form_view" action="/todo/check" method="post" >
    <div class="board_wrap">
        <div class="board_title">
            <strong>Todo List</strong>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    {{todoList[0].goal_title}}
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>{{index}}</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>{{todoList[0].user_id}}</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>{{todoList[0].created_at}}</dd>
                    </dl>
                </div>
                <div class="cont">
                    {% for i in todoList[0].goal_desc%}
                    <div id="todolist_line">{{i}}<input type="checkbox" name="checked" id="check_real"></div>
                    {% endfor%}
                    <progress value="{{todoList[0].complete_percent}}" max="100" id="check_progress"></progress>
                    &nbsp;
                    <div id="check_percentage">{{todoList[0].complete_percent.toFixed(1)}}%</div>
                    <br>
                </div>
            </div>
            <div class="bt_wrap">
                <button onclick="location.href='mypage_todolist'" type="button" class="submit_button">목록</button>
                <input type="hidden" name="goal_seq" value="{{todoList[0].goal_seq}}">
                <input type="hidden" name="list_len" value="{{todoList[0].goal_desc.length}}">
                <input type="hidden" name="due_date" value="{{todoList[0].due_date}}">
                <input type="hidden" name="complete_percent" value="{{todoList[0].complete_percent}}">
                <input type="submit" class="submit" value="확인" disabled>
            </div>
        </div>
    </div>
</form>
<script src="assets/js/todolistwrite.js"></script>
{% endblock %}