.border {
    padding: 50px;
    width: 100%;
    height: 100vh;
    background: #fff;
}

#post_title {
    width: 540px;
}

#post_conent {
    width: 540px;
    height: 400px;
}



/* 글 작성 버튼 스타일 */
.write-btn {
    position: fixed;
    background-color: rgb(143, 188, 143);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    bottom: 80px;
    right: 200px;
    cursor: pointer;
}

.write-btn:hover {
    background-color: darkslategray;
}

.modal-content.h2 {
    margin-bottom: 20px;

}