section{
    background-color : white;
}
#manage__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    font-family: 'KotraBold';
}


h1{
    color : black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom : 50px;
    margin-top: 50px;
    /* border: 2px solid skyblue; */
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
    font-family: 'KotraBold';
}

.int__area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}

.int__area.input{
    width: 300px;

}


label {
    margin-right: 30px; /* 라벨과 입력 상자 사이의 간격을 조정합니다 */
  }

  input [type="submit"]{
    margin:10px;
  }

  input[type=text] {
    width: 500px;
    height: 42px;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: white;
    font-family: 'KotraBold';
    
    
}

input[type=password] {
    width: 500px;
    height: 42px;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: wh;
    /* margin-top: 20px; */
    font-family: 'KotraBold';
   
}
.out_button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    min-height: 30px;
    min-width: 120px;
    font-family: 'KotraBold';
}
.out_button:hover{
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    min-height: 30px;
    min-width: 120px;
}