.todolist_form{
    text-align: center;
    width: 100%;
}

.myPage__ToDoList__Category__detail{
    list-style-type: none;
    list-style: none;
    font-weight: bold;
    line-height: 5.0;
    margin: 0;
    padding-inline-start: 1.0em;
    list-style-position: inside;
}
.myPage__ToDoList__Category{
    background-color:rgba(49, 206, 230, 0.7);
    border-radius: 20px;
    width: 15vw;
    height: 30vw;
}
.myPage__ToDoList{
    display: flex;
    align-items: center;
}
.hero{
    width: 100vw;
}

.todolist_board_wrap {
    width: 100%;
    min-width: 320px;
    padding: 0 30px;
    box-sizing: border-box;
    background-color:rgba(255, 255, 255, 0.7);
    color : black;
    height: 30vw;
    border-radius: 20px;
}

.submit{
    display: inline-block;
    min-width: 102px;

    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
    background-color: black;
    color : white;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Nanum Gothic";
}

.routine_container{
    background-color: white;

    /* vh: viewport height로 현재 브라우저 높이를 꽉 채울 때 100vh를 사용 */
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 70px;
    overflow: auto;
}

.input-area{
    display: flex;
    margin-bottom: 10px;
}
#add-button{
    margin-left: 5px;
}

.task-tabs{
    display: flex;
    border: 1px solid gray;
}

.task-tabs > div{
    padding: 10px;
    cursor: pointer;
}

.task-tabs > div:hover{
    background-color: #00a8ff;
    color:white;
}

.task-area{
    position: relative;
}

.task{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.task span{
    box-sizing: border-box;
    padding: 10px;
    line-height: 38px;
}

.task-done{
    background-color: lightgray;
}

.task-done > span{
    text-decoration: line-through;
}

.button-area{
    display: flex;
    padding: 10px 10px 10px 0;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button-area > button{
    margin-left: 10px;
} 
