section{
    background-color : white;
}
#manage_box{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
}

.int__area{
    margin-top: 30px;
}
h1{
    color : black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom : 50px;
}

.int__area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}

.int__area.input{
    width: 300px;

}


label {
    margin-right: 30px; /* 라벨과 입력 상자 사이의 간격을 조정합니다 */
  }

  input [type="submit"]{
    margin:10px;
  }

